<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <body>
        <%- include("./partials/navbar") %>
        <div class="container">
            <ul class="row row-cols-auto list-unstyled">
                <% locals.comments.forEach(function(comment){ %>
                <li class="col">
                    <div>Username: <%- comment.username %></div>
                    <div>Body: <%- comment.body %></div>
                    <div>Date: <%- comment.date %></div>
                </li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>
